@{
    ViewBag.Title = "Kontaktai";
}

<br />
<address>
    <b>Tel. nr.:</b>
    +370 65111508
</address>
<address>
    <strong>E-mail:</strong>   <a href="mailto:mikaskentra@gmail.com">mikaskentra@gmail.com</a>
</address>