@using Microsoft.AspNet.Identity
@using Keturi.Extensions
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>4:4</h2>
    <p class="lead">Sveiki. Žaidimo taisyklės tokios: turite atspėti keturis skaitmenis panaudojant kuo mažiau spėjimų.
    Po kiekvieno spėjimo gausite užuominą kelis skaitmenis atspėjote ir keli iš jų yra savo vietoje.
    Jei jau esate užsiregistravęs tuomet galėsite įsirašyti į garbės lentą.</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Žaisti", "Index", "Number", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Registracija", "Register", "Account", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Rezultatai", "Index", "Highscores", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>